.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 46rem;
  margin: 0 auto;
  padding-top: 5.75rem;
}

@media (max-width: 768px) {
  .content-wrapper {
    width: 80%;
  }
}

.display-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--spacing-6);
}