.header-background {
  background-color: var(--color-gray-700);
  height: 200px;
}

.title-wrapper {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-blue);
  font-family: 'Inter', sans-serif;
  span {
    color: var(--color-purple-dark);
  }
}

.action-wrapper {
  display: flex;
  width: 46rem;
  margin: -27px auto;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .action-wrapper {
    width: 80%;
  }
}