:root {
  --color-blue: #4ea8de;
  --color-blue-dark: #1e6f9f;
  --color-purple: #8a84fa;
  --color-purple-dark: #5e60ce;

  --color-gray-700: #0d0d0d;
  --color-gray-600: #1a1a1a;
  --color-gray-500: #262626;
  --color-gray-400: #333333;
  --color-gray-300: #808080;
  --color-gray-200: #d9d9d9;
  --color-gray-100: #f2f2f2;


  --color-danger: #e25858;

  --font-size-base: 1rem; /* 16px */
  --line-height-base: 1.4;

  --font-size-xs: 0.75rem;    /* 12px */
  --font-size-sm: 0.875rem;   /* 14px */
  --font-size-md: 1rem;       /* 16px */
  --font-size-lg: 1.25rem;    /* 20px */
  --font-size-xl: 1.5rem;     /* 24px */
  --font-size-2xl: 2rem;      /* 32px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-05: 0.125rem;   /* 2px */
  --spacing-1: 0.25rem;     /* 4px */
  --spacing-2: 0.5rem;      /* 8px */
  --spacing-3: 0.75rem;     /* 12px */
  --spacing-4: 1rem;        /* 16px */
  --spacing-6: 1.5rem;      /* 24px */
  --spacing-8: 2rem;        /* 32px */
  --spacing-16: 4rem;       /* 64px */

  --border-radius-sm: 0.25rem;   /* 4px */
  --border-radius-md: 0.5rem;    /* 8px */
  --border-radius-lg: 0.75rem;   /* 12px */
  --border-radius-xl: 1rem;      /* 16px */
  --border-radius-inf: 9999px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--color-gray-600);
}